<a href="https://colab.research.google.com/github/malamdarhussain12-ops/ds_lab_4092_alamdar-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#dataframe
import pandas as pd
data={
    'ID':[100,102,103,104,105],
    'NAME':['A','B','C','D','E'],
    'AGE':[20,21,22,23,24],
    'MARKS':[99,98,54,20,10]
}
df=pd.DataFrame(data)
print(df)
print(df.loc[1:3,('NAME','AGE')])
print(df['MARKS'])
df

    ID NAME  AGE  MARKS
0  100    A   20     99
1  102    B   21     98
2  103    C   22     54
3  104    D   23     20
4  105    E   24     10
  NAME  AGE
1    B   21
2    C   22
3    D   23
0    99
1    98
2    54
3    20
4    10
Name: MARKS, dtype: int64

    ID NAME  AGE  MARKS
0  100    A   20     99
1  102    B   21     98
2  103    C   22     54
3  104    D   23     20
4  105    E   24     10

In [5]:
#tuple
t = (10, 20, 30, 40)
print(t)
t = (5,)
print(t)
t = tuple(map(int, input("Enter numbers: ").split()))
print(t)
t = (10, 20, 30)

lst = list(t)
lst.append(40)

t = tuple(lst)
print(t)
t = (5, 2, 8, 1)

print("Max:", max(t))
print("Min:", min(t))
print("Sum:", sum(t))
t = ("apple", "banana", "cherry")

for i in t:
    print(i)
t = (10, 20, 30, 40, 50)
print(t[1:4])

(10, 20, 30, 40)
(5,)
Enter numbers: 45
(45,)
(10, 20, 30, 40)
Max: 8
Min: 1
Sum: 16
apple
banana
cherry
(20, 30, 40)

In [6]:
#setoperations
# Creating two sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Set A:", A)
print("Set B:", B)

# Union
print("Union (A | B):", A | B)

# Intersection
print("Intersection (A & B):", A & B)

# Difference
print("Difference (A - B):", A - B)
print("Difference (B - A):", B - A)

# Symmetric Difference
print("Symmetric Difference (A ^ B):", A ^ B)

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}
Union (A | B): {1, 2, 3, 4, 5, 6, 7, 8}
Intersection (A & B): {4, 5}
Difference (A - B): {1, 2, 3}
Difference (B - A): {8, 6, 7}
Symmetric Difference (A ^ B): {1, 2, 3, 6, 7, 8}

In [7]:
#dictionaries
# Creating a dictionary
student = {
    "name": "Rahul",
    "age": 20,
    "course": "Python"
}

print("Original Dictionary:", student)

# Access values
print("Name:", student["name"])
print("Age:", student.get("age"))

# Add new key-value pair
student["grade"] = "A"
print("After Adding Grade:", student)

# Update value
student["age"] = 21
print("After Updating Age:", student)

# Delete a key
del student["course"]
print("After Deleting Course:", student)

# Dictionary methods
print("Keys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())

# Check key existence
if "name" in student:
    print("Key 'name' exists")

# Loop through dictionary
print("\nIterating Dictionary:")
for key, value in student.items():
    print(key, ":", value)

# Length of dictionary
print("\nLength:", len(student))

# Copy dictionary
student_copy = student.copy()
print("Copied Dictionary:", student_copy)

# Clear dictionary
student_copy.clear()
print("After Clearing Copy:", student_copy)

Original Dictionary: {'name': 'Rahul', 'age': 20, 'course': 'Python'}
Name: Rahul
Age: 20
After Adding Grade: {'name': 'Rahul', 'age': 20, 'course': 'Python', 'grade': 'A'}
After Updating Age: {'name': 'Rahul', 'age': 21, 'course': 'Python', 'grade': 'A'}
After Deleting Course: {'name': 'Rahul', 'age': 21, 'grade': 'A'}
Keys: dict_keys(['name', 'age', 'grade'])
Values: dict_values(['Rahul', 21, 'A'])
Items: dict_items([('name', 'Rahul'), ('age', 21), ('grade', 'A')])
Key 'name' exists

Iterating Dictionary:
name : Rahul
age : 21
grade : A

Length: 3
Copied Dictionary: {'name': 'Rahul', 'age': 21, 'grade': 'A'}
After Clearing Copy: {}